<div class="container">
    <h1>Car Management</h1>

    <a href="#" routerLink="/car/create/" class="btn btn-success">Create New Car</a>

    <!-- Search form for Brand and Model -->
    <div class="form-group">
        <label for="searchBrand">Search by Brand:</label>
        <input type="text" id="searchBrand" [(ngModel)]="searchBrand" class="form-control" placeholder="Enter brand">
    </div>

    <div class="form-group">
        <label for="searchModel">Search by Model:</label>
        <input type="text" id="searchModel" [(ngModel)]="searchModel" class="form-control" placeholder="Enter model">
    </div>

    <button class="btn btn-primary" (click)="filterCars()">Filter Cars</button>
    
    <table class="table table-striped" *ngIf="filteredCarList.length > 0">
        <thead>
            <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Model</th>
            <th width="250px">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of filteredCarList">
                <td>{{ car.id }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>
                    <a href="#" [routerLink]="['/car/', car.id, 'view']" class="btn btn-info">View</a>
                    <a href="#" [routerLink]="['/car/', car.id, 'edit']" class="btn btn-primary">Edit</a>
                    <button type="button" class="btn btn-danger" (click)="deleteCar(car.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>