<app-menu></app-menu>

<div class="container">
    
    
    <h1>List Cars</h1>

    <a href="#" routerLink="/car/create/" class="btn btn-success">Create New Car</a>

    <!-- Search form for Brand and Model -->
    <div class="form-group">
        <label for="searchBrand">Search by Brand:</label>
        <input type="text" id="searchBrand" [(ngModel)]="searchBrand" class="form-control" placeholder="Enter brand">
    </div>

    <div class="form-group">
        <label for="searchModel">Search by Model:</label>
        <input type="text" id="searchModel" [(ngModel)]="searchModel" class="form-control" placeholder="Enter model">
    </div>

    <br>

    <button class="btn btn-primary" (click)="filterCars()">Filter Cars</button>
    
    <table class="table table-striped" *ngIf="filteredCarList.length > 0">
        <thead>
            <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Image</th>
            <th>Color</th>
            <th width="250px">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of filteredCarList">
                <td>{{ car.id }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td> 
                    <ng-container *ngIf="car.image; else noImage">
                        <img [src]="car.image" alt="{{ car.brand }} {{ car.model }}" loading="lazy" style="width: 100px; height: auto;" />
                    </ng-container>
                    <ng-template #noImage>
                        <span><img src="assets/images/cam-off.png" alt=""  style="width: 100px; height: auto;"/></span>
                    </ng-template>
                </td>
                <td>{{car.color}}</td>
                <td>
                    <a href="#" [routerLink]="['/car/', car.id, 'view']" class="btn btn-info">View</a>
                    <a href="#" [routerLink]="['/car/', car.id, 'edit']" class="btn btn-primary">Edit</a>
                    <button type="button" class="btn btn-danger" (click)="deleteCar(car.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>