<app-menu></app-menu>

<div class="container">
    <h2>Edit Car</h2>
    <form (ngSubmit)="onSubmit(carForm)" #carForm="ngForm">
      
      <!-- Brand Field -->
      <div class="form-group">
        <label for="brand">Brand:</label>
        <input type="text" id="brand" required [(ngModel)]="car.brand" name="brand" class="form-control" #brand="ngModel" />
      </div>
  
      <!-- Model Field -->
      <div class="form-group">
        <label for="model">Model:</label>
        <input type="text" id="model" required [(ngModel)]="car.model" name="model" class="form-control" #model="ngModel" />
      </div>
  
      <!-- Engine Type Field -->
      <div class="form-group">
        <label for="engineType">Engine Type:</label>
        <select id="engineType" required [(ngModel)]="car.engineType" name="engineType" class="form-control" #engineType="ngModel">
          <option value="">Select engine type</option>
          <option value="BEV">Battery Electric Vehicle (BEV)</option>
          <option value="PHEV">Plug-in Hybrid Electric Vehicle (PHEV)</option>
          <option value="ICE">Internal Combustion Engine (ICE)</option>
          <option value="GASOLINE">ICE / Gasoline</option>
          <option value="DIESEL">DIESEL</option>
        </select>
      </div>

      <div class="form-group">
        <label for="color">Color:</label>
        <input type="text" id="color" required [(ngModel)]="car.color" name="color" class="form-control" #color="ngModel" />
      </div>

      <!-- Image Upload Field -->
      <div class="form-group">
        <label for="carImage">Car Image:</label>
        <br>
        <div class="row">
            <div class="col-md-12">
                <ng-container *ngIf="car.image; else noImage">
                    <img [src]="car.image" alt="{{ car.brand }} {{ car.model }}" class="img-responsive" style="width: 100%"/>
                </ng-container>
                <ng-template #noImage>
                    <span><img src="assets/images/cam-off.png" alt="" class="img-responsive" style="width: 50%"/></span>
                </ng-template>
                
            </div>
        </div>
        

        <br>
        <input type="file" id="image" name="image" (change)="onFileSelected($event)" class="form-control" accept="image/*" />
      </div>
  
      <br>
      <button type="submit" class="btn btn-primary" >Update Car</button>

      <div *ngIf="successMessage.length > 0" class="text-success"> 
        <ul>
          <li>{{ successMessage }}</li>
        </ul>
      </div>

      <div *ngIf="validationMessages.length > 0" class="text-danger">
        <ul>
          <li *ngFor="let message of validationMessages">{{ message }}</li>
        </ul>
      </div>

      
  
    </form>
  </div>
  